services:
  email-cron:
    build: .
    image: email-cron:latest
    container_name: email-cron-container
    restart: always
    volumes:
      # Mount entire scripts folder
      - ./scripts:/app/scripts

      # Mount composer files
      - ./composer.json:/app/composer.json

      # Mount persistent state file
      - ./scripts/logs/.last_doctor_status:/app/scripts/logs/.last_doctor_status

    networks:
      - afyacall_core_network

    logging:
      options:
        max-size: "10m"
        max-file: "3"

networks:
  afyacall_core_network:
    external: true
